<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Demo App</title>
  <link href="../css/main.css" rel="stylesheet">
  <script src="../js/Detector.js"></script>
  <script src="../js/three.min.js"></script>
</head>
<body>
<div class="close"></div>
<div class="keys">
  <button class="button" id='sphere-button'>Sphere</button>
  <button class="button" id='cube-button'>Cube</button>
  <button class="button" id='torus-button'>Torus</button>

</div>
<script src="../js/demo.js"></script>
</body>
</html>
